<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Mau Maker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="LILO">
        
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />
        <meta name="author" content="">
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />

        <!-- Mobile Specific Metas
          ================================================== -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        
        <link rel="icon" href="../i/favicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link href="../css/style.css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
	</head> 
<body>
        
<!-- Navigation Mobile type 1 -->

<a class="open_menu bg_white radius_full"><i class="fas fa-bars line_height40"></i></a>
<div class="navigation_mobile type1">
	<a class="close_menu white"><i class="fas fa-times"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 inner">
		<div class="nav_logo white bottom30 font_first"><b>Mau</b> Maker</div>
		<div><a href="#" class="font_second font22 link white bottom20">Home</a></div>
		<div><a href="#inovacao" class="font_second font22 link white bottom20">Inovação e Tecnologia</a></div>
		<div><a href="#treinamentos" class="font_second font22 link white bottom20">Treinamentos</a></div>
		<div><a href="#atividades" class="font_second font22 link white bottom20">Atividades sob medida</a></div>
		<div><a href="#aprendizado" class="font_second font22 link white bottom40">Aprendizado prático</a></div>
		
		<div class="socials top40">
            <a href="https://instagram.com/mau_maker" target="_blank" class="link white font18 right20"><i class="fab fa-instagram"></i></a>
			<a href="https://www.facebook.com/maumaker" target="_blank" class="link white font18 right20"><i class="fab fa-facebook"></i></a>
		</div>
		
	</div>
</div>

<!-- Header 7 -->

<header class="header_7">

	<!-- Navigation 5 -->

	<nav class="navigation_5 line_height40 transparent top30">
		<div class="container nopadding">
			<div class="max_width600">
				<div class="row">
					<div class="col-md-12 text-center line_height40">
                        <a href="#inovacao" class="font_second sides10 link dark_blue font14 bold underline">Inovação&Tecnologia</a>
						<a href="#treinamentos" class="font_second sides10 link dark_blue font14 bold underline">Treinamentos</a>
                        <a href="#treinamentos" class="font_second sides10 link dark_blue font14 bold underline">Atividades</a>
                        <a href="#aprendizado" class="font_second sides10 link dark_blue font14 bold underline">Prática</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding padding_bottom180">
		<img src="../i/header2.jpg" class="left700 height_full header_7_bg" alt="" />
		<div class="max_width570 padding_top230 inner">
			<h1 class="font_first light font62 green text-left">A Mau Maker</h1>
			<div class="font_second max_width470 font28 light dark_blue top30 text"> é uma empresa que desenvolve atividades práticas no universo da tecnologia através de vivências únicas.
			</div>
<!--
			<form action="form-handler.php" method="POST" class="top50 max_width370">
				<input type="text" name="name" placeholder="Your Name" class="width_full padding_sides20 input border border_light_gray size60 radius6 noradius_bottom" />
				<input type="email" name="email" placeholder="Email Adress" class="width_full padding_sides20 input border border_light_gray size60 noradius noborder_top noborder_bottom" />
				<input type="password" name="password" placeholder="Password" class="width_full padding_sides20 input border border_light_gray size60 radius6 noradius_top" />
				<button class="btn width_full top30 green size60 radius6">Create an Account</button>
				<div class="medium_gray top40 form_text">By signing up, you agree to the <a href="#" class="link blue">Terms of Service</a></div>
			</form>
-->
		</div>
	</div>
</header>
    
<section class="call_to_action_10 bg_green padding_top50 padding_bottom40">
	<div class="container nopadding text-center dark_gray">
        <img src="../i/maumaker_vertical_fundoclaro.png" class="max_width200">
		<div class="font_second font14 semibold uppercase spacing20 dark_blue text">criar. conhecer. fazer</div>
		<div class="max_width870 margin_auto top50 inner">
			<div class="row">
				<div class="col-md-4 block bottom50">
					<i class="fas fa-tools font62 light_gray"></i>
					<div class="top50 font20 font_second light title">Acessibilizar a<br>tecnologia por meio de</div>
                    <div class="top15 font28 font_first title uppercase">experiências<br>criativas.</div>				
				</div>
				<div class="col-md-4 block bottom50">
					<i class="fas fa-network-wired font62 light_gray"></i>
                    <div class="top50 font28 font_first title uppercase">difundir<br>o fazer</div>
					<div class="top15 font20 font_second light title">para quem quer que<br>esteja interessado.</div>				
				</div>
				<div class="col-md-4 block bottom50">
					<i class="fas fa-keyboard font62 light_gray"></i>
					<div class="top25 font20 font_second light title">Tornar familiar o</div>
                    <div class="top15 font28 font_first title uppercase">pensamento<br>maker</div>					
                    <div class="top15 font20 font_second light title">da fabricação digital,<br>da eletrônica e<br>da programação.</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg_dark_blue padding_top120 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width770 margin_auto text-center white inner">
			<h2 class="font40 light font_first">Serviços</h2>
		<div class="margin_auto top35 bottom85 max_width770 font14 light hyphens text">
            <p class="font24 font_second">A Mau Maker é uma empresa voltada para:<br>iniciativas, empresas e pessoas.</p>
		</div>
			<h2 class="top30 font_first light font40 uppercase">Vamos fazer juntos?</h2>
		</div>
	</div>
</section>

<section id="inovacao" class="feature_45 bg_sand">
	<div class="container nopadding dark_gray">
		<div class="row justify-content-between">
			<div class="col-xl-6 col-lg-5 col-md-4 nopadding img_holder">
				<img src="../i/header2.jpg" class="absolute img" alt="" />			
			</div>
			<div class="col-xl-6 col-lg-7 col-md-8">
				<div class="padding_left70 inner padding_top80 padding_bottom100">
                    <h2 class="bottom25 font42 font_first text-center">Inovação e Tecnologia</h2>
					<div class="bottom15 font22 light title">Build Quick</div>
					<div class="bottom45 font18 light opacity7 text">
						Get a beautiful site up and running in no time. Just choose Startup Framework you like and start tweaking it
					</div>
					<div class="bottom15 font22 light title">A Lot of blocks</div>
					<div class="bottom45 font18 light opacity7 text">
						Animals and machines are not supposed to possess free will or exercise it. What, then, of machines and humans?
					</div>
					<div class="bottom15 font22 light title">Fully Responsive</div>
					<div class="font18 light opacity7 text">
						In the absence of privileged access to the animal mind, we cannot and don’t know if animals feel guilt, for instance.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    
<section id="treinamentos" class="feature_20 bg_white">
	<div class="container nopadding padding_top105 padding_bottom70">
		<div class="max_width570 inner">
			<h2 class="font_first font42 dark_gray">Treinamentos</h2>
			<div class="top30 font22 light dark_blue text">
				A MauMaker também oferece treinamentos para iniciativas, empresas e pessoas que queiram promover a familiarização com as ferramentas e tecnologias de eletrônica, programação e fabricação digital.
			</div>
<!--			<a href="#" class="font_first top40 btn green size50 font16 padding_sides30">Get Started <i class="fas fa-angle-right left10 font18 line_height40"></i></a>-->
			<div class="top75 row">
				<div class="col-sm-6 bottom50 block">
					<div class="top25 font18 semibold dark_gray title">Based on Bootstrap 4</div>
					<div class="top25 font18 light dark_blue text">
						HTML layout is based on one of<br /> the most common and reliable<br /> framework - Bootstrap.
					</div>
				</div>
				<div class="col-sm-6 bottom50 padding_left60 block">
					<div class="top25 font18 semibold dark_gray title">HTML5 & CSS3</div>
					<div class="top25 font18 light dark_blue text">
						We used only time-tested <br />technologies for the best <br />results.
					</div>
				</div>
			</div>
		</div>
		<img src="../i/header2.jpg" class="height_full absolute bg" alt="" />							
	</div>
</section>

<section id="atividades" class="feature_45 bg_red">
	<div class="container nopadding dark_gray">
		<div class="row justify-content-between">
			<div class="col-xl-6 col-lg-5 col-md-4 nopadding img_holder">
				<img src="../i/header2.jpg" class="absolute img" alt="" />			
			</div>
			<div class="col-xl-6 col-lg-7 col-md-8">
				<div class="padding_left70 inner padding_top80 padding_bottom100">
                    <h2 class="bottom25 font42 font_first text-center">Atividades sob medida</h2>
					<div class="bottom15 font22 light title">Build Quick</div>
					<div class="bottom45 font18 light opacity7 text">
						A MauMaker produz atividades práticas sob medida para sua empresa. Transformando sua necessidade ou ideia em uma atividade maker.
					</div>
					<div class="bottom15 font22 light title">A Lot of blocks</div>
					<div class="bottom45 font18 light opacity7 text">
						Animals and machines are not supposed to possess free will or exercise it. What, then, of machines and humans?
					</div>
					<div class="bottom15 font22 light title">Fully Responsive</div>
					<div class="font18 light opacity7 text">
						In the absence of privileged access to the animal mind, we cannot and don’t know if animals feel guilt, for instance.
					</div>
                    <a href="#" class="inline_block link blue line_height60">Saiba Mais<i class="fas fa-angle-right left10"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="aprendizado" class="feature_24 bg_sand padding_top105 padding_bottom100">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-6 block_left">
				<h2 class="font42 font_first light dark_gray">Aprendizado <br>divertido e prático</h2>
				<div class="top15 bottom70 max_width570 font18 light dark_blue text text1">
					O participante aprende conceitos e aperfeiçoa competências através de experiências direcionadas a diversos interesses.
                    <br>
                    Os kits e oficinas são pensados para estimular a investigação e interação.
				</div>
				<div class="buttons">
					<a href="#" class="font_first btn green size50 radius6 padding_sides30">Saiba Mais</a>
				</div>
			</div>
			<div class="col-lg-6 block_right">
				<div class="top10 float_right width470 height265 radius8 video" data-ratio="16/9">
					<div class="radius8 poster">
						<div class="play red"><i class="fas fa-play"></i></div>
					</div>
					<video controls>
						<source src="../video/video1.mp4" type="video/mp4">
					</video>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Footer 1 -->

<section id="contato" class="content_1 bg_green padding_top100 padding_bottom90">
	<div class="container nopadding max_width970">
		<div class="text-center inner">
			<h2 class="font52 black top30 light font_first bold">Pronto para fazer seu <br>próximo projeto maker ?</h2>
            <br>
            <p class="font_second font28 white">Ótimo, estamos esperando contato !</p>
		</div>
	</div>
</section>
    
        
<footer class="footer_1 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="block block_left text-right text-lg-left">
				<p class="font12 font_second semibold spacing15 link dark_blue right30">mau@maumaker.com</p>
			</div>
			<div class="block block_center text-center">
				<div class="font20 font_second dark_blue"><b>Rua João Moura 2152, São Paulo-SP</b></div>
			</div>
			<div class="block block_right text-left text-lg-right">
				<p class="font12 font_second semibold uppercase spacing15 link dark_blue left30">+55 11 981 550 110</p>
				<a href="https://instagram.com/mau_maker" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-instagram"></i></a>
				<a href="https://www.facebook.com/maumaker" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-facebook-square"></i></a>
			</div>
		</div>
	</div>
</footer>

<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
	</a>
	<div class="flex align_center justify_center width_full height_full iframe_container"></div>
</div>

    
<script src="../js/slick.min.js"></script>
<script src="../js/aos.min.js"></script>
<script src="../js/jquery.maskedinput.min.js"></script>
<script src="../js/script.js"></script>
        
</body>
</html>
